TELEGRAM_BOT_TOKEN=replace_with_your_bot_token
TELEGRAM_ALLOWED_CHAT_IDS=replace_with_your_numeric_chat_id
SERPAPI_API_KEY=replace_with_your_serpapi_api_key
TELEGRAM_DEFAULT_MAX_PROFILES=25
SERPAPI_GOOGLE_DOMAIN=google.com
SERPAPI_HL=en
SERPAPI_GL=in
TELEGRAM_OUTPUT_DIR=/data/bot_runs
